body {
  margin: 0;
  padding: 0;
  background: linear-gradient(aqua 5%, rgb(0, 143, 143));
}

/* LOGO */

.logo {
  /* background-color: blueviolet; */
  width: 7em;
  font-size: 2vw;
  color: red;
  font-weight: 900;
}

.logo-container {
  background-color: rgb(0, 255, 255);
  height: 90px;
}

.logo-container img {
  width: 170px;
  transform: rotate(-4deg);
  padding-left: 25px;
}

/* PLAYER SELECT BUTTONS */

.playerSelect-container {
  height: 90vh;
  /* display: flex;
  justify-content: center; */
}

.playerSelect-containerNONE {
  display: none;
}

#playerForm {
  margin-top: 6vh;
  font-family: "Poetsen One", sans-serif;
  background-color: pink;
  font-size: 2em;
  /* display: grid; */
  width: 100%;
}

.enterNamesText {
  text-align: center;
  font-size: 3.5vw;
  margin-top: -10vw;
  padding-top: 40px;
}

.playerSelectDiv {
  width: 100%;
  height: 50vw;
  background-color: tomato;
  margin-top: 10vw;
}

#player1NameInput {
  font-family: "Poetsen One", sans-serif;
  font-size: 2vw;
  height: 2vw;
  margin-right: 15px;
  margin-left: 17.7vw;
  width: 30%;
  text-align: center;
}

#player2NameInput {
  font-family: "Poetsen One", sans-serif;
  font-size: 2vw;
  height: 2vw;
  width: 30%;
  text-align: center;
}

#playBtn {
  font-family: "Poetsen One", sans-serif;
  color: white;
  background-color: black;
  font-size: 3vw;
  width: 18vw;
  height: 7vw;
  border: 3px solid white;
  border-radius: 15px;
  margin-left: 40%;
  margin-top: 7vw;
}

#playBtn:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}
/* GAME SCREEN CONTAINER */

.playerBarSection {
  background-color: pink;
  display: flex;
  /* justify-content: space-between; */
}

.playerBarSectionNONE {
  display: none;
}

/* PLAYER BAR */

.playerBar-container {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player1-container {
  background-color: blue;
  width: 17vw;
}

.player2-container {
  background-color: rgb(47, 255, 6);
  width: 17vw;
}

/* GAME BOARD */

.gameSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.game-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 550px;
  background-color: antiquewhite;
  border: 5px solid antiquewhite;
  border-radius: 5%;
  box-shadow: 5px 5px 20px;
  z-index: 2;
}

.leaderboard-container {
  display: flex;
  width: 450px;
  height: 470px;
  background-color: antiquewhite;
  border: 5px solid antiquewhite;
  border-radius: 5%;
  transform: rotate(10deg);
  margin-top: 80px;
  z-index: 1;
  transition: 500ms;
  justify-content: center;
}

.leaderboard-containerNONE {
  display: grid;
  width: 50px;
  height: 300px;
  background-color: orange;
  border-right: 2px solid antiquewhite;
  border-top: 2px solid antiquewhite;
  border-bottom: 2px solid antiquewhite;
  border-radius: 5%;
  margin-top: 80px;
  z-index: 1;
  transition: 500ms;
}

.leaderboard-containerNONE:hover {
  background-color: rgb(207, 135, 1);
  z-index: 1;
  cursor: pointer;
  transition: 500ms;
}

.leaderboard-containerNONE h2 {
  width: 50px;
  margin: 0;
  text-align: center;
}

.leaderboard-container:hover {
  transition: 500ms;
  cursor: pointer;
}

.wNONE {
  padding-top: 10px;
  transition: 500ms;
}

.w {
  text-decoration: underline;
}

.deleteTextNONE {
  display: none;
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 7px;
  font-size: 50px;
  color: rgb(22, 22, 22);
  z-index: 1;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

.closeMenuNONE {
  display: none;
}

.closeMenu {
  display: block;
}
.btnChoice-containerNONE {
  display: flex;
  width: 60px;
  height: 60px;
  border-left: 2px solid antiquewhite;
  border-top: 2px solid antiquewhite;
  border-bottom: 2px solid antiquewhite;
  background-color: orange;
  border-radius: 5%;
  margin-top: 80px;
  z-index: 1;
  transition: 500ms;
}

.btnChoice-containerNONE:hover {
  cursor: pointer;
  background-color: rgb(207, 135, 1);
}

.btnChoice-container {
  width: 450px;
  height: 470px;
  background-color: antiquewhite;
  border: 5px solid antiquewhite;
  border-radius: 5%;
  margin-top: 80px;

  z-index: 1;
  transition: 500ms;
  transform: rotate(-10deg);
}

.btnChoice-container:hover {
  background-color: antiquewhite;
  border: 5px solid antiquewhite;
  transform: rotate(-10deg);
}

.restartGameBtn-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 30px;
}

.restartGameBtnNONE {
  display: none;
}

.restartGameBtn {
  font-size: 40px;
  background-color: aqua;
  transition: 500ms;
  height: 80px;
}

.restartGameBtn:hover {
  background-color: rgb(1, 182, 182);
  transition: 500ms;
}

.teamChangeBtnNONE {
  display: none;
}

.teamChangeBtn {
  font-size: 40px;
  background-color: aqua;
  transition: 500ms;
  height: 80px;
}

.teamChangeBtn:hover {
  background-color: rgb(1, 182, 182);
  transition: 500ms;
}

.teamChangeBtn-container {
  display: flex;
  justify-content: center;
}

.gameSectionNONE {
  display: none;
}

#game {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  width: 450px;
  text-align: center;
  border: 3px solid black;
  box-shadow: 1px 1px 20px;
}

#game div {
  padding-top: 25px;
  font-size: 90px;
}

#gridBox1 {
  border-right: 4px solid black;
  border-bottom: 2px solid black;
}
#gridBox2 {
  border-right: 4px solid black;
  border-bottom: 2px solid black;
}
#gridBox3 {
  border-bottom: 2px solid black;
}
#gridBox4 {
  border-right: 4px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#gridBox5 {
  border-right: 4px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#gridBox6 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#gridBox7 {
  border-right: 4px solid black;
  border-top: 2px solid black;
}
#gridBox8 {
  border-right: 4px solid black;
  border-top: 2px solid black;
}
#gridBox9 {
  border-top: 2px solid black;
}

/* .game {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 400px;
} */

/* .cell {
  border: 1 solid black;
  background-color: lightgrey;
} */

.gameOverSection {
  display: flex;
}

.gameOverSectionNONE {
  display: none;
}

footer {
  /* background-color: black; */
  height: 100px;
}
